@media screen and (max-width: 1024px)
{
  #bloc_page
  {
    width: auto;
    height: auto;
  }
}
body {
  background-color: #778899;
}
h1 {
  text-align: center;
  color: #BDB76B;
}
th {
  text-align: : center;
    color: black;
    font-size: 23px;
}
td {
background: #BDB76B;
height: 200px;
}
